# Put your user name and email in environment variables as described at
# https://git-scm.com/book/gr/v2/Git-Internals-Environment-Variables
#
# For Example:
#
# export GIT_AUTHOR_NAME="..."
# export GIT_AUTHOR_EMAIL="..."
#
# export EMAIL=$GIT_AUTHOR_EMAIL

[advice]
	skippedCherryPicks = false

[alias]
	co   = checkout
	ds   = diff --staged
	fush = push --force-with-lease
	rim  = rebase --interactive master
	st   = status --branch --short
	up   = push --set-upstream origin HEAD
	wiff = diff --ignore-all-space

	diff-merge = "!f() { c=${1-HEAD}; git diff $c^ $c; }; f"

[commit]
	verbose = true

[core]
	editor = vi
	excludesfile = ~/.globalgitignore

[fetch]
	prune     = true
	pruneTags = true

[init]
	defaultBranch = master

[pull]
	ff = only
